.about{
    min-width: 300px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.about__container{
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    backdrop-filter: blur(4px);
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0px 13px 40px 12px rgba(0,0,0,0.75);
}

.about__title{
    display: flex;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    transition: .6s;
}
.about__title:hover{
    font-size: 1.8rem;
}
.about__paragraph{
    font-family: 'Roboto', sans-serif;
    transition: .6s;
}
.about__paragraph:hover{
    font-size: 1.1rem;
}