.academic{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
}
.academic__title{
    display: flex;
    align-self: center;
}
.academic__courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}
.academic__courses__box{
    display: flex;
    width: 224px;
    background-color: #FFFFFF;
    justify-content: flex-start;
    border-radius: 1rem;
}
.academic__courses__list img{
    width: 150px;
}