.formcontato{
    min-width: 300px;
    width: 100vw;
    margin: 0 auto;
    background-color: #06283D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 1200'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(147,489,314)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dedfe0'/%3E%3Cstop offset='0.02' stop-color='%2306283D'/%3E%3Cstop offset='0.02' stop-color='%239ea1a4'/%3E%3Cstop offset='0.032' stop-color='%2306283D'/%3E%3Cstop offset='0.032' stop-color='%23dadadb'/%3E%3Cstop offset='0.056' stop-color='%2306283D'/%3E%3Cstop offset='0.056' stop-color='%235e646c'/%3E%3Cstop offset='0.07' stop-color='%2306283D'/%3E%3Cstop offset='0.07' stop-color='%23bbbdbf'/%3E%3Cstop offset='0.1' stop-color='%2306283D'/%3E%3Cstop offset='0.1' stop-color='%2394989c'/%3E%3Cstop offset='0.126' stop-color='%2306283D'/%3E%3Cstop offset='0.126' stop-color='%23909397'/%3E%3Cstop offset='0.142' stop-color='%2306283D'/%3E%3Cstop offset='0.142' stop-color='%23989a9d'/%3E%3Cstop offset='0.159' stop-color='%2306283D'/%3E%3Cstop offset='0.159' stop-color='%231c3041'/%3E%3Cstop offset='0.17' stop-color='%2306283D'/%3E%3Cstop offset='0.17' stop-color='%23868a90'/%3E%3Cstop offset='0.197' stop-color='%2306283D'/%3E%3Cstop offset='0.197' stop-color='%235d6167'/%3E%3Cstop offset='0.218' stop-color='%2306283D'/%3E%3Cstop offset='0.218' stop-color='%23c6c7c7'/%3E%3Cstop offset='0.239' stop-color='%2306283D'/%3E%3Cstop offset='0.239' stop-color='%23a4a4a5'/%3E%3Cstop offset='0.254' stop-color='%2306283D'/%3E%3Cstop offset='0.254' stop-color='%232e3742'/%3E%3Cstop offset='0.283' stop-color='%2306283D'/%3E%3Cstop offset='0.283' stop-color='%23434447'/%3E%3Cstop offset='0.294' stop-color='%2306283D'/%3E%3Cstop offset='0.294' stop-color='%23112b3f'/%3E%3Cstop offset='0.305' stop-color='%2306283D'/%3E%3Cstop offset='0.305' stop-color='%235d5f62'/%3E%3Cstop offset='0.332' stop-color='%2306283D'/%3E%3Cstop offset='0.332' stop-color='%231b2d3d'/%3E%3Cstop offset='0.346' stop-color='%2306283D'/%3E%3Cstop offset='0.346' stop-color='%23676b70'/%3E%3Cstop offset='0.362' stop-color='%2306283D'/%3E%3Cstop offset='0.362' stop-color='%23797b7d'/%3E%3Cstop offset='0.381' stop-color='%2306283D'/%3E%3Cstop offset='0.381' stop-color='%23c8c9cb'/%3E%3Cstop offset='0.415' stop-color='%2306283D'/%3E%3Cstop offset='0.415' stop-color='%23a3a4a5'/%3E%3Cstop offset='0.428' stop-color='%2306283D'/%3E%3Cstop offset='0.428' stop-color='%2374797f'/%3E%3Cstop offset='0.442' stop-color='%2306283D'/%3E%3Cstop offset='0.442' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.456' stop-color='%2306283D'/%3E%3Cstop offset='0.456' stop-color='%23a2a4a8'/%3E%3Cstop offset='0.498' stop-color='%2306283D'/%3E%3Cstop offset='0.498' stop-color='%23616870'/%3E%3Cstop offset='0.511' stop-color='%2306283D'/%3E%3Cstop offset='0.511' stop-color='%23c9caca'/%3E%3Cstop offset='0.532' stop-color='%2306283D'/%3E%3Cstop offset='0.532' stop-color='%2366686c'/%3E%3Cstop offset='0.541' stop-color='%2306283D'/%3E%3Cstop offset='0.541' stop-color='%237a7c7e'/%3E%3Cstop offset='0.56' stop-color='%2306283D'/%3E%3Cstop offset='0.56' stop-color='%23d5d5d6'/%3E%3Cstop offset='0.581' stop-color='%2306283D'/%3E%3Cstop offset='0.581' stop-color='%23666667'/%3E%3Cstop offset='0.6' stop-color='%2306283D'/%3E%3Cstop offset='0.6' stop-color='%23474a4e'/%3E%3Cstop offset='0.618' stop-color='%2306283D'/%3E%3Cstop offset='0.618' stop-color='%2315293a'/%3E%3Cstop offset='0.656' stop-color='%2306283D'/%3E%3Cstop offset='0.656' stop-color='%23656668'/%3E%3Cstop offset='0.679' stop-color='%2306283D'/%3E%3Cstop offset='0.679' stop-color='%23393b3e'/%3E%3Cstop offset='0.689' stop-color='%2306283D'/%3E%3Cstop offset='0.689' stop-color='%23686e75'/%3E%3Cstop offset='0.720' stop-color='%2306283D'/%3E%3Cstop offset='0.720' stop-color='%23737476'/%3E%3Cstop offset='0.734' stop-color='%2306283D'/%3E%3Cstop offset='0.734' stop-color='%23606266'/%3E%3Cstop offset='0.748' stop-color='%2306283D'/%3E%3Cstop offset='0.748' stop-color='%23a3a5a8'/%3E%3Cstop offset='0.764' stop-color='%2306283D'/%3E%3Cstop offset='0.764' stop-color='%2309283c'/%3E%3Cstop offset='0.788' stop-color='%2306283D'/%3E%3Cstop offset='0.788' stop-color='%2353565a'/%3E%3Cstop offset='0.808' stop-color='%2306283D'/%3E%3Cstop offset='0.808' stop-color='%234a525d'/%3E%3Cstop offset='0.831' stop-color='%2306283D'/%3E%3Cstop offset='0.831' stop-color='%233f4750'/%3E%3Cstop offset='0.856' stop-color='%2306283D'/%3E%3Cstop offset='0.856' stop-color='%23333f4d'/%3E%3Cstop offset='0.872' stop-color='%2306283D'/%3E%3Cstop offset='0.872' stop-color='%2367696a'/%3E%3Cstop offset='0.894' stop-color='%2306283D'/%3E%3Cstop offset='0.894' stop-color='%23898d92'/%3E%3Cstop offset='0.914' stop-color='%2306283D'/%3E%3Cstop offset='0.914' stop-color='%233d454e'/%3E%3Cstop offset='0.942' stop-color='%2306283D'/%3E%3Cstop offset='0.942' stop-color='%2308283c'/%3E%3Cstop offset='0.957' stop-color='%2306283D'/%3E%3Cstop offset='0.957' stop-color='%2386888b'/%3E%3Cstop offset='0.973' stop-color='%2306283D'/%3E%3Cstop offset='0.973' stop-color='%23d9d9d9'/%3E%3Cstop offset='1' stop-color='%2306283D'/%3E%3Cstop offset='1' stop-color='%239d9fa2'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment:scroll;
    background-size: cover;
}
.formcontato__contacto{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 5rem;

}
.formcontato__title{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(25px);
}
.formcontato__h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color:#000000;
    margin-bottom: 0;
}
.formcontato__h3{
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.formcontato__body{
    width: 90vw;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 1rem;
    margin-top: 3rem;
}
.formcontato--esquerda{
    display: flex;
    width: 49%;
    align-items: center;
    justify-items: center;
}
.formcontato__img{
    width: fit-content;
    max-width: 27rem;
    max-height: 30rem;
    border-radius: 1rem;
    margin-left: 2rem;
    transition: .8s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.formcontato__img:hover{
    transform: scale(.9) rotateY(-175deg) rotateX(-180deg);}
.formcontato__text{
    width: 50%;
    max-height: 30rem;

    padding-left: 5rem;
    display: flex;
    align-items: center;
    justify-items: center;
}

.formcontato__form{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 2rem;
    margin: 0 auto;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: form-animation 0.5s ease-in-out;
}
.formcontato__input{
    max-width: 450px;
    height: 50px;
    margin: .5rem 0.5rem;
    margin-left: 5%;
    border-style: none;
    border-radius: .4rem;
    box-shadow:  0px 4px 13px 7px rgba(87, 96, 178, 0.75);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color: rgb(255, 255, 255);
    border: 2px solid #3b8df2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.formcontato__input:hover,
.formcontato__input:focus{
    border-color: #3b8df2;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05) rotateY(20deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
}
.formcontato__textarea{
    width: 90%;
    align-self: center;
    border-style: none;
    border-radius: .4rem;
    box-shadow:  0px 4px 13px 7px rgba(87, 96, 178, 0.75);
}
.formcontato__botao{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 150px;
    height: 40px;
    align-self: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #5e66bf, -6px -6px 12px #577492;
    border-radius: 2rem;
    border-style: none;
}
.formcontato__botao::before{
    content: '';
    width: 0;
    height: 100%;
    border-radius: 1.9rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #72c78d 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.formcontato__botao:hover::before {
    width: 100%;
}
@media (max-width:1020px){
    .formcontato--esquerda{
        display: none;
    }
    .formcontato__text{
        width: 90%;
        margin: 0 auto;
    }
}