.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: rgba(251, 252, 255, 0.857);
}
.menu nav{
    width: 60vw;
    display: inline-flex;
    align-self: flex-end;
}
.menu__header{
    display: flex;
}
.menu__title{
    padding-top: 10px;
}
.menu__header img{
    margin-top: 12px;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
}
.menu__list{
    width: 50%;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-family: 'roboto';
}
.menu__list__item{
    margin: 10px;
}
@media(max-width: 1000px){
    .menu__list .non{
        display:none;
    }
    .contac{
        display: inline;
    }

}
