.skills{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.skills__title{
    align-self: center;
}
.skills__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}
.skills__box{
    display: flex;
    min-width: 140px;
    background-color: rgb(234, 241, 241);
    justify-content: flex-start;
    border-radius: 1rem;
    transition: .8s;
}
.skills__box:hover{
    background-color: rgb(246, 130, 130);
    scale: 1.2;
    font-size: .9rem;
}
.skills__img{
    transition: .6s;
}
.skills__img:hover{
    transform: scale(1.5) translateX(-10px) rotate(360deg); 
}
.skills__name{

}
.skills__name:hover{

}