.title__div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 8rem;
}
.intro{
    width: 100vw;
    background-image: url(../assets/macbook-air-1920x1080-abstract-blue-20843.jpg);
    background-size: cover;
    background-position: calc(10%);
}
.title__profile{
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: .6s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.title__profile:hover{
    transform: scale(.98);
}
.title__container{
    max-width: 490px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(2.5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .3s;
}
.title__container:hover{
    transform: scale(1.1);
    box-shadow: 15px 11px 42px 12px rgba(0,0,0,0.75);
}
.title__bio{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}
.title__subsection{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}
.title__network{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
}
.title__network__item{
    display: flex;
    align-items: center;
    margin: .5rem .5rem .4rem .7rem;
}
.title__network__item img{
    max-width: 1.5rem;
}
.title__network__item a{
    display: flex;
    align-items: center;
}
.title__network__item a img{
    margin-left: 0.3rem;
}
.background{
    background-image: url(../assets/bg-white.jpg);
}

@media (min-width:700px){
    .title__div{
        flex-direction:row-reverse;
        justify-content: space-evenly;
    }
}
@media (max-width:425px){
}